.u-section-1 {
  background-image: url("images/f3f4ccdebad8a85ed48b1375587c0fd9.gif");
}

.u-section-1 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-1 .u-text-1 {
  margin: 36px 398px 0 354px;
}

.u-section-1 .u-video-1 {
  width: 213px;
  height: 110px;
  margin: 20px auto 0 442px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  font-family: Audiowide;
  background-image: none;
  font-size: 6rem;
  animation-duration: 1000ms;
  width: 652px;
  margin: 143px auto 0;
}

.u-section-1 .u-text-3 {
  width: 214px;
  margin: 35px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  font-family: "Open Sans", sans-serif;
  width: 401px;
  margin: 206px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.625rem;
  margin: 275px 270px 60px 322px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 298px;
    margin-left: 254px;
  }

  .u-section-1 .u-video-1 {
    margin-left: 342px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 258px;
    margin-left: 281px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 170px;
    margin-left: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 188px;
    margin-left: 144px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 171px;
    margin-right: 148px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 60px;
    margin-left: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 98px;
    margin-left: 54px;
  }

  .u-section-1 .u-video-1 {
    margin-left: 327px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 81px;
    margin-right: 58px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    margin-left: 127px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}